.custom-navbar {
  overflow: hidden;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 60px;
  width: 100%;
  background: #28b0a2;
  box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0px 0px;
  z-index: 1;
}

svg-icon {
  cursor: pointer;
}
