<div class="tile">
  <div class="row">
    <div class="col-3">
      <div class="imgage-container">
        <img
          *ngIf="!refuge.logoPath"
          src="../../../../assets/svg/association-tile-bg.svg"
          alt="Foto de {{ refuge.name }}"
        />
        <img
          *ngIf="refuge.logoPath"
          src="{{ refuge.logoPath }}"
          alt="Foto de {{ refuge.name }}"
        />
      </div>
    </div>
    <div class="col-6 title-container">
      <div>
        <p class="title">{{ refuge.name }}</p>
      </div>
    </div>
    <div class="col-3 link-show">
      <div class="link-container">
        <a class="show-more" [routerLink]="['/association/' + refuge.id]"
          >Ver más</a
        >
      </div>
    </div>
  </div>
</div>
