<div class="container">
  <div class="row title-container">
    <p class="title">Albergue GIPAS</p>
  </div>
  <div class="row counter-container">
    <div class="col-4 counter adopted">
      <app-counter [counter]="counterAdoptedAnimals"></app-counter>
    </div>
    <div class="col-4 counter for-adoption">
      <app-counter [counter]="counterAnimalsForAdoption"></app-counter>
    </div>
    <div class="col-4 counter urgent">
      <app-counter [counter]="counterUrgent"></app-counter>
    </div>
  </div>
  <div class="row">
    <div class="container carousel-container">
      <app-carousel [mainImage]="logoImage" [images]="imageList"></app-carousel>
    </div>
  </div>
  <div class="row social-network-row">
    <div class="col-9 social-network-text">
      <span class="social-network">Contáctanos en nuestras redes:</span>
    </div>
    <div class="col-3" style="display: inline-flex; padding: 0%;">
      <img
        class="icon-social-network"
        src="../../../../assets/img/facebook.png"
        height="40px"
        width="40px"
        alt="Facebook botón"
      />
      <img
        class="icon-social-network"
        src="../../../../assets/img/facebook.png"
        height="40px"
        width="40px"
        alt="WhatsApp botón"
      />
    </div>
  </div>
  <div class="row">
    <div class="container" style="margin-top: 20px;">
      <p class="description">
        Somos una organización sin fines de lucro que busca incrementar el
        número de adopciones en Lima, a través de un espacio virtual que
        centralice las oportunidades de adopción, brindando además asesoría
        integral a los adoptantes y trabajando en coordinación con una red de
        albergues.
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <p class="title-pet-list">
      ANIMALES EN ADOPCIÓN
    </p>
  </div>
  <div class="row">
    <app-pet-list [refugeName]="refugeName"></app-pet-list>
  </div>
</div>
