<div *ngIf="!formSubmitted">
  <div class="d-flex justify-content-center my-5">
    <img class="main-logo" src="/assets/svg/main-logo.svg"><img>
  </div>

  <div>
    <h2 class="title-name">
      Restablecer contraseña
    </h2>
    <p class="text-grey">
      Ingresa el correo electrónico con el que registraste tu asociación y te enviaremos un enlace para restablecer tu contraseña
    </p>
  </div>

  <form [formGroup]="passwordResetRequestForm" (submit)="sendPasswordResetRequest()">
    <div class="form-group">
      <label class="form-control-label custom-label" for="email">Correo electrónico</label>
      <input id="email" type="text" class="form-control custom-input" placeholder="example@gmail.com"
        formControlName="email" />
      <div
        *ngIf="passwordResetRequestForm.get('email').invalid && (passwordResetRequestForm.get('email').dirty || passwordResetRequestForm.get('email').touched)">
        <small class="form-text text-danger" *ngIf="passwordResetRequestForm.get('email').errors.required">
          El correo electrónico es requerido
        </small>
        <small class="form-text text-danger" *ngIf="passwordResetRequestForm.get('email').errors.maxlength">
          El correo electrónico no puede ser mayor a 250 caracteres
        </small>
        <small class="form-text text-danger" *ngIf="passwordResetRequestForm.get('email').errors.email">
          El correo eletrónico no es válido
        </small>
      </div>
    </div>
    <div [ngClass]="{visibility: errorMessage ? 'visible' : 'hidden'}" style="height: 32px;">
      <small class="form-text text-danger">
        {{ errorMessage }}
      </small>
    </div>
    <br/>
    <button type="submit" class="btn button-cyan d-flex align-items-center justify-content-center mt-1"
      [disabled]="passwordResetRequestForm.invalid" (click)="sendPasswordResetRequest()">Restablecer</button>
  </form>
</div>

<div *ngIf="formSubmitted">
  <div class="mt-5">
    <p class="text-grey">
      Se envió un email a su correo electrónico con el enlace para restablecer su contraseña
    </p>
    <button type="submit" class="btn button-cyan d-flex align-items-center justify-content-center mt-5"
      [routerLink]="['/', 'login']">Volver</button>
  </div>
</div>