<div>
  <h2 class="title-name">
    Restablecer contraseña
  </h2>

  <!-- <div>
    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />
  </div> -->

  <p class="text-grey">Por favor introduzca y confirme su nueva contraseña</p>
  <form [formGroup]="setNewPasswordForm" (ngSubmit)="setPassword()">
    <div class="form-group">
      <div>
        <input togglePassword type="password" class="form-control custom-input" placeholder="Nueva contraseña" formControlName="password" />
      </div>
      <div
        *ngIf="setNewPasswordForm.get('confirmPassword').invalid && (setNewPasswordForm.get('confirmPassword').dirty || setNewPasswordForm.get('password').touched)">
        <small class="form-text text-danger" *ngIf="setNewPasswordForm.get('password').errors.required">
          La contraseña es requerida
        </small>
      </div>
    </div>
    <div class="form-group">
      <div>
        <input togglePassword type="password" class="form-control custom-input" placeholder="Confirmar nueva contraseña"
          formControlName="confirmPassword" />
      </div>
      
      <div
        *ngIf="setNewPasswordForm.get('confirmPassword').invalid && (setNewPasswordForm.get('confirmPassword').dirty || setNewPasswordForm.get('confirmPassword').touched)">
        <small class="form-text text-danger" *ngIf="setNewPasswordForm.get('confirmPassword').errors.required"
          jhiTranslate="global.messages.validate.newpassword.required">
          La contraseña es requerida
        </small>
      </div>
    </div>

    <button type="submit" class="btn button-cyan d-flex align-items-center justify-content-center mt-5"
      [disabled]="!setNewPasswordForm.valid">Restablecer</button>

  </form>
</div>