.title-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
  padding: 8px 8px 8px 0px;
}

.text-grey {
  font-weight: 500;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.5);
}

.button-cyan {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;

  width: 100%;
  height: 47px;

  background: #28b0a2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #fffdfd;
}

.text-grey {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
