<div class="pet-container card">
  <div class="image-container">
    <img *ngIf="!pet.imagePath" class="default-pet-image card-img-top" src="/assets/img/pet-tile-background.png"
      onerror="/assets/img/pet-tile-background.jpg" alt="Dog generic image"><img>
    <img *ngIf="pet.imagePath" class="pet-image card-img-top" [src]="pet.imagePath"
      onerror="/assets/img/pet-tile-background.jpg" alt="Dog generic image"><img>
  </div>

  <div class="container-body">
    <h5 class="pet-name truncate">{{ pet.name }}</h5>
    <span class="pet-age">{{ pet.birthday | birthday }}</span>
    <br />
    <p class="pet-refuge truncate">{{ pet.refugeName }}</p>
    <button type="button" class="btn button-detail" [routerLink]="['/', pet.id, 'view']">Detalles</button>
  </div>
  <div *ngIf="pet.status == 'URGENT'" class="urgent-warning">
    <p class="urgent-text">URGENTE</p>
  </div>
</div>