<div>
  <div class="row g-0 align-items-center">
    <div class="col-xxs-4 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="custom-select-wrapper mt-1 mb-1" (click)="onClickSelect(specieFilter)" #specie>
        <div class="custom-select d-flex justify-content-start">
          <div class="custom-select__trigger">
            <span *ngIf="specieSelected">{{ specieSelected.label }}</span>
            <span *ngIf="!specieSelected">Especie</span>
          </div>
          <div class="custom-options">
            <span class="custom-option" *ngFor="let specieOption of specieOptions; let lastItem = last;"
              (click)="onClickOption(specieFilter, specieOption, $event)"
              [ngClass]="{'selected': specieSelected && specieOption.value == specieSelected.value, 'line': !lastItem}">{{ specieOption.label }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxs-4 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="custom-select-wrapper mt-1 mb-1" (click)="onClickSelect(genreFilter)" #genre>
        <div class="custom-select d-flex justify-content-start">
          <div class="custom-select__trigger">
            <span *ngIf="genreSelected">{{ genreSelected.label }}</span>
            <span *ngIf="!genreSelected">Género</span>
          </div>
          <div class="custom-options">
            <span class="custom-option" *ngFor="let genreOption of genreOptions; let lastItem = last;"
              (click)="onClickOption(genreFilter, genreOption, $event)"
              [ngClass]="{'selected': genreSelected && genreOption.value == genreSelected.value, 'line': !lastItem}">{{ genreOption.label }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxs-4 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="custom-select-wrapper mt-1 mb-1" (click)="onClickSelect(ageFilter)" #age>
        <div class="custom-select d-flex justify-content-start">
          <div class="custom-select__trigger">
            <span *ngIf="ageSelected">{{ ageSelected.label }}</span>
            <span *ngIf="!ageSelected">Edad</span>
          </div>
          <div class="custom-options">
            <span class="custom-option" *ngFor="let ageOption of ageOptions; let lastItem = last;"
              (click)="onClickOption(ageFilter, ageOption, $event)"
              [ngClass]="{'selected': ageSelected && ageOption.value == ageSelected.value, 'line': !lastItem}">{{ ageOption.label }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxs-4 offset-xxs-8 col-xs-3 offset-xs-0 col-sm-3 offset-sm-0 col-md-3 offset-md-0 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 align-self-center">
      <button type="button" class="button-clean mt-1 mb-1" (click)="clean()">Limpiar</button>
    </div>
  </div>
</div>
