.results {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: left;

  color: #000000;
}

.container-empty-list {
  display: flex;
  text-align: center;
}

.spinner-style {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
}

.spinner-grow {
  color: #28b0a2;
}
