<div *ngIf="pet" class="section mt-1">
  <div *ngIf="pet.status == 'URGENT'" class="urgent-container">
    <h3 class="title-urgent">URGENTE</h3>
    <img class="float-right" style="margin: 3px 10px 0px 10px;" src="/assets/svg/urgent-icon.svg"><img>
  </div>

  <div class="mt-2 mb-2" style="overflow: auto;">
    <h2 class="mt-2 mb-2 title-name float-left">{{pet.name}}</h2>
    <button type="button" class="mt-2 mb-2 button-white float-right">Compartir
      <img class="ml-2" style="margin-top: 2px;" src="/assets/svg/share-icon.svg"><img>
    </button>
  </div>
  
  <div class="mt-2">
    <app-carousel *ngIf="pet.imagePath" [mainImage]="pet.imagePath"></app-carousel>
  </div>
  
  <div class="d-flex justify-content-end m-2">
    <button type="button" class="btn button-cyan m-2">Llamar</button>
    <button type="button" class="btn button-cyan m-2">Whatsapp</button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <app-pet-attribute [iconKey]="iconsKey.Genre" [attribute]="pet.genre"></app-pet-attribute>
      </div>
      <div class="col">
        <app-pet-attribute [iconKey]="iconsKey.Calendar" [attribute]="pet.age"></app-pet-attribute>
      </div>
      <div class="col">
        <app-pet-attribute [iconKey]="iconsKey.Weight" [attribute]="pet.weight"></app-pet-attribute>
      </div>
      <div *ngIf="pet.castrated" class="col">
        <app-pet-attribute [iconKey]="iconsKey.Check" [attribute]="'Castrado'"></app-pet-attribute>
      </div>
      <div class="col">
        <app-pet-attribute [iconKey]="iconsKey.Refuge" [attribute]="pet.refugeName"></app-pet-attribute>
      </div>
      <div *ngIf="pet.vaccinated" class="col">
        <app-pet-attribute [iconKey]="iconsKey.Check" [attribute]="'Vacunas'"></app-pet-attribute>
      </div>
    </div>
  </div>
  <div>
    <h3 class="title-description">Sobre {{pet.name}}</h3>
    <p class="description">Es un perro super cariñoso y tranquilo. Le encantan el cariño y afecto de las personas. Es un
      perro de 4 años de edad
      con un corazón enorme de cariño y sorpresas. Desde que nacio ha estado esperando un hogar. Todos sus hermanos han
      salido
      menos el y su hermana Aurea.</p>
    <b class="period">En la protectora desde: 25 - 02 - 2020</b>
  </div>
</div>