<div class="section">
  <h2>Pocho</h2>
  <button>Compartir</button>
  <app-carousel></app-carousel>
  <div>
    <button>Llamar</button>
    <button>Whatsapp</button>
  </div>
  <div>
    <div>
      Macho
    </div>
    <div>
      Macho
    </div>
    <div>
      Macho
    </div>
    <div>
      Macho
    </div>
    <div>
      Macho
    </div>
    <div>
      Macho
    </div>
  </div>
  <div>
    <h3>Sobre Pocho</h3>
    <p>Es un perro super cariñoso y tranquilo. Le encantan el cariño y afecto de las personas. Es un perro de 4 años de edad
    con un corazón enorme de cariño y sorpresas. Desde que nacio ha estado esperando un hogar. Todos sus hermanos han salido
    menos el y su hermana Aurea.</p>
    <b>En la protectora desde: 25 - 02 - 2020</b>
  </div>
</div>