<div class="bg">
  <div class="img-dog"></div>
  <h3 class="text-style first-text">
    Ponemos a disposición de los usuarios, los animales rescatados por las
    diferentes asociaciones protectoras de la ciudad de Sucre...

    <br /><br /><br />

    Además facilitamos el contacto vía chat entre protectora y adoptante.
  </h3>
  <div class="img-arrow-right" (click)="onClickNext()">
    <img src="/assets/svg/arrow-right.svg" alt="Ir a la derecha" />
  </div>
  <div class="img-arrow-left" (click)="onClickPrevious()">
    <img src="/assets/svg/arrow-left.svg" alt="Ir a la izquierda" />
  </div>
</div>
