.bg {
  background: #f4f6f6;
}

.img-dog {
  position: absolute;
  width: 80%;
  height: 80%;
  right: 0px;
  bottom: -9%;

  background: url("../../../../assets/svg/dog-page-2.svg") no-repeat;
  background-size: 100% 100%;
}

.text-style {
  font-family: Kulim Park;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  position: absolute;
}

.img-arrow-right {
  position: absolute;
  left: 88.27%;
  right: 0px;
  top: 39.58%;
  bottom: 49.63%;
  background: url("../../../../assets/svg/arrow-right.svg") no-repeat;
}

.img-arrow-left {
  position: absolute;
  left: 0px;
  right: 88.27%;
  top: 39.58%;
  bottom: 49.63%;
  background: url("../../../../assets/svg/arrow-left.svg") no-repeat;
  margin-left: 2%;
}

.first-text {
  top: 10%;
}

.second-text {
  top: 30%;
}
