<div id="backdrop" class="modal-backdrop fade" [ngClass]="{ show: showModal }"></div>
<div class="modal d-block fade" [ngClass]="{ show: showModal }" id="listing-dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal">
      <div class="modal-body" style="padding: 35px 26px 35px 26px">
        <h2 class="title">{{ title }}</h2>
        <p class="content-text">{{ body }}</p>
        <div class="d-flex justify-content-center" style="margin-top: 26px;">
          <img class="main-logo" src="/assets/svg/main-logo.svg"><img>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 46px;">
          <button type="button" class="btn button-cyan" (click)="onClose()">{{ buttonLabel }}</button>
        </div>
      </div>
    </div>
  </div>
</div>