<div *ngIf="pets?.length > 0">
  <div *ngFor="let pet of pets">
    <p>{{ pet.name }}</p>
  </div>
</div>

<br>

<p *ngIf="pet">{{ pet.name }}</p>

<button (click)="save()">CREAR / ACTUALIZAR</button>
<button (click)="delete()">ELIMINAR</button>

<br>

<button class="btn btn btn-primary btn-sm" (click)="prevPage()"
  [disabled]="disablePrev || !(paginationClickedCount > 0)">Anterior</button> <b>P&aacute;gina:
  {{paginationClickedCount+1}}</b>
<button class="btn btn btn-primary btn-sm" (click)="nextPage()" [disabled]="disableNext">Siguiente</button>