.empty-container {
  margin-top: 10%;
}

h2 {
  text-align: end;
  margin-right: 42px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 50px;

  color: #28b0a2;
}

img {
  width: 75%;
  height: 100%;
}
