@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

* {
  font-family: Montserrat;
  font-style: normal;
}

$grid-breakpoints: (
  xxs: 0px,
  xs: 340px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  xs: 285px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@import "../node_modules/bootstrap/scss/bootstrap";
